<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title></title>
</head>
<body>


    <h2>这是一个ejs的后台模板引擎111</h2>


    <ul>

        <%for(var i=0;i<list.length;i++){%>
            <li><%=list[i].name%></li>
        <%}%>
    </ul>


</body>
</html>