<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
<script src="./xheditor/jquery/jquery-1.11.2.min.js" charset="utf-8"></script>
<script src="./xheditor/xheditor-1.2.2.min.js" charset="utf-8"></script>
<script src="./xheditor/xheditor_lang/zh-cn.js" charset="utf-8"></script>
</head>
<body>
<h1>CMS系统文章管理</h1>
<form action="/addPost" method="post" enctype="multipart/form-data">
  <p>文章标题: <input type="text" name="title"/></p>
  <p>文章分类:
    <select name="catid">
      <option value="1">javascript</option>
      <option value="2">html5</option>
      <option value="3">css</option>
    </select>
  </p>
  <p>文章详情: <textarea name="content" id="content" width="400" height="300"></textarea></p>
  <p><input type="submit" value="提交"/></p>
</form>
<script>
$('#content').xheditor({
  html5Upload: false,   /*这个必须设置  */
  upMultiple: '1',
  tools:'full',  /*显示所有的工具*/
  skin:'default',  /*皮肤*/
  width:500, height:400,
  upImgUrl:"/upload", /*上传图片的地址*/
  upImgExt:"jpg,jpeg,gif,png" /*允许上传的图片类型*/
});
</script>
</body>
</html>
