<%- include header %>
<div class="jumbotron">
<h1>欢迎来到 Hawen微博</h1>
<p>Hawen微博 是一个基于 Node.js 的微博系统。</p> 
<p>
<a class="btn btn-primary btn-large" href="/login">登录</a>
<a class="btn btn-large" href="/reg">立即注册</a> </p>
</div>
<div class="row"> 
<div class="col-md-4"> 
<h2>Carbo 说</h2>
<p>东风破早梅 向暖一枝开 冰雪无人见 春从天上来</p> 
</div>

<div class="col-md-4">
<h2>乔布斯 说</h2>
<p>
「Stay hungry. Stay foolish.」
</p>
</div>

<div class="col-md-4">
<h2>图灵 说</h2>
<p>no doubt I shall emerge from it all a different man, but quite who I've not found out.</p>
</div>
</div>
<%- include footer %>