<%- include header %>
<form role="form" method="post">
  <div class="form-group">
    <label for="username1">username</label>
    <input name="username" type="text" class="form-control" id="username" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="Email1">Email</label>
    <input name="email" type="email" class="form-control" id="Email1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="Password1">Password</label>
    <input name="password" type="password" class="form-control" id="Password1" placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<%- include footer %>