<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
  <h1><%=news.title%></h1>
  <div class="content">
    <%-news.content%>
  </div>
</body>
</html>
